name: mkdocs-build

on: push

jobs:
  mkdocsbuild:
    name: Build Mkdocs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: install
        run: |
          cd mkdocs-test
	  mkdir venv
	  python3 -m venv venv
	  . ./venv/bin/activate
	  pip3 install -r requirements.txt
	  mkdir -p snippets/exrail
	  curl -s https://raw.githubusercontent.com/DCC-EX/CommandStation-EX/refs/heads/devel/EXRAIL2MacroBase.h | awk -f pull-exrail.awk > snippets/exrail/exrail-ref.md
	  mkdocs build
	  
  