name: mkdocs-build

on: push

jobs:
  mkdocsbuild:
    name: Build Mkdocs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install python requirements
        run: |
          mkdir venv
          python3 -m venv venv
          . ./venv/bin/activate
          pip3 install -r requirements.txt
      - name: Generated documentation from source
        run: |
          . pull_exrail.sh
      - name: Build docu site
        run: |
          . ./venv/bin/activate
          mkdocs build
      - name: Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: oprypin/push-to-gh-pages@v3
        with:
          publish_dir: site
          commit_message: ${{ github.event.head_commit.message }}
          token: ${{ secrets.GITHUB_TOKEN }}
