name: mkdocs-build

on: push

jobs:
  mkdocsbuild:
    name: Build Mkdocs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install python requirements
        run: |
          mkdir venv
          python3 -m venv venv
          . ./venv/bin/activate
          pip3 install -r requirements.txt
      - name: Generated documentation from source
        run: |
          mkdir -p snippets/exrail
          SOURCE=devel/EXRAIL2MacroBase.h
          BASENAME=$(basename "$SOURCE" .h)
          TARGET=snippets/exrail/"$BASENAME".md
          curl -s https://raw.githubusercontent.com/DCC-EX/CommandStation-EX/refs/heads/$SOURCE | awk -f pull-exrail.awk > "$TARGET"
          echo -n "Autogenerater from $SOURCE at " >> "$TARGET"
          date >> "$TARGET"
      - name: Build docu site
        run: |
          . ./venv/bin/activate
          mkdocs build
      - name: Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: oprypin/push-to-gh-pages@v3
        with:
          publish_dir: site
          commit_message: ${{ github.event.head_commit.message }}
          token: ${{ secrets.GITHUB_TOKEN }}
